In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('irony-labeled.csv')
df

                                           comment_text  label
0     I suspect atheists are projecting their desire...     -1
1     It's funny how the arguments the shills are ma...     -1
2     We are truly following the patterns of how the...     -1
3     air pressure dropping as altitude goes higher....     -1
4     Absolutely.  I think we'd be hard pressed to f...     -1
...                                                 ...    ...
1944  This is an interesting point.  There are no sh...     -1
1945  Maybe you mean how we are to respond to the go...     -1
1946          [... What? ](http://tinyurl. com/kw5cpxz)     -1
1947  Does anybody remember during one of the debate...     -1
1948  The pope is meeting a cruel dictator.   Likely...      1

[1949 rows x 2 columns]

In [3]:
len(df)

1949

In [4]:
df_reg = df[df["label"] == -1]
len(df_reg)

1412

In [5]:
df_ironic = df[df["label"] == 1]
len(df_ironic)

537

In [6]:
j = 0
for i in df_reg["comment_text"]:
    j += len(i.split())

j/len(df_reg)

46.241501416430594

In [7]:
r = 0
for i in df_ironic["comment_text"]:
    r += len(i.split())

r/len(df_ironic)

28.519553072625698

In [8]:
df = pd.DataFrame()
df['grupo'] = ['Ironico', "Não ironico"]
df['tamanho médio'] = [r/len(df_ironic), j/len(df_reg)]
df

         grupo  tamanho médio
0      Ironico      28.519553
1  Não ironico      46.241501